---
import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";
import { newtClient } from "../../lib/newt";
import type { Article, Tag } from "../../lib/newt";

export const getStaticPaths = async () => {
    const { items: tags } = await newtClient.getContents<Tag>({
        appUid: "blog",
        modelUid: "tag",
        query: {
            select: ["name", "slug", "_id"],
        },
    });
    return tags.map((tag) => ({
        params: { slug: tag.slug },
        props: { tag },
    }));
};
const { tag } = Astro.props;

// タグから記事一覧を取得する
const getArticleByTags = async (tagId: string) => {
    const items = await newtClient.getContents<Article>({
        appUid: "blog",
        modelUid: "article",
        query: {
            select: ["title", "slug", "body", "tags", "coverImage", "author"],
            tags: {
                in: [tagId],
            },
        },
    });
    return items;
};

const tagedItems = await getArticleByTags(tag._id);
const articles = tagedItems.items;
// console.log("articles", articles[0].slug);
---

<Layout title={tag.name} description="投稿詳細ページです">
    <main>
        <h1 class="l-heading">{tag.name}</h1>
        <ul class="l-card-list">
            {
                articles.map((article) => {
                    return (
                        <>
                            <Card article={article} />
                        </>
                    );
                })
            }
        </ul>
    </main>
</Layout>

<style>
    .l-heading {
        font-size: 2rem;
        margin-bottom: 2rem;
        font-weight: bold;
    }
    .l-card-list {
        display: flex;
        gap: 2rem;
    }
</style>
