<h2></h2>
<ul>
    <li>
        <a href="">
            <h3></h3>
            <p></p>
            <img src="" alt="" />
        </a>
    </li>
</ul>

<ul class="">
    {
        articles.map((article) => {
            return (
                <li class="">
                    <a href={`/articles/${article.slug}`}>{article.title}</a>
                </li>
            );
        })
    }
</ul>
