<header></header>
<footer>
    <a href="/">hands-on</a>
    <small> &copy; 2024 - T.Takahashi</small>
</footer>

<style>
    footer {
        background-color: #3a1e1e;
        color: white;
        padding: 20px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
    }
</style>
