---
const { prevText, prevUrl, nextText, nextUrl } = Astro.props;
---

<ul>
    {
        prevText && prevUrl ? (
            <li class="prev">
                <a href={prevUrl}>
                    前の記事：<span>{prevText}</span>
                </a>
            </li>
        ) : (
            <li class="prev">
                <a href="/">トップへ戻る</a>
            </li>
        )
    }
    {
        nextText && nextUrl ? (
            <li class="next">
                <a href={nextUrl}>
                    次の記事：<span>{nextText}</span>
                </a>
            </li>
        ) : (
            <li class="next">
                <a href="/">トップへ戻る</a>
            </li>
        )
    }
</ul>

<style>
    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    li {
        margin: 0;
        width: 40%;
    }

    a {
        color: var(--color-primary);
        text-decoration: underline;
    }
    .next {
        text-align: right;
    }
</style>
